sample-ci-cd/target/META-INF/mule-src/sample-ci-cd/src/main/mule/sample-ci-cd.xml
<?xml version="1.0" encoding="UTF-8"?>

<mule xmlns:http="http://www.mulesoft.org/schema/mule/http" xmlns="http://www.mulesoft.org/schema/mule/core"
	xmlns:doc="http://www.mulesoft.org/schema/mule/documentation"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://www.mulesoft.org/schema/mule/core http://www.mulesoft.org/schema/mule/core/current/mule.xsd
http://www.mulesoft.org/schema/mule/http http://www.mulesoft.org/schema/mule/http/current/mule-http.xsd">
	<http:listener-config name="HTTP_Listener_config" doc:name="HTTP Listener config" doc:id="a8963f82-b48c-4d49-957a-f52120dbaf50" >
		<http:listener-connection host="0.0.0.0" port="8081" />
	</http:listener-config>
	<flow name="sample-ci-cdFlow" doc:id="0c991557-1486-46d6-bfb0-bbbd43ef956d" >
		<http:listener doc:name="Listener" doc:id="fcd90492-ed3d-406c-aa51-28a20ad99740" config-ref="HTTP_Listener_config" path="/testci"/>
		<set-payload value="#[HELLO WORLD]" doc:name="Set Payload" doc:id="b0393d61-67b9-46f9-8314-30ee4ab83a59" />
	</flow>
</mule>
